body{
	background-image: url(Images/background.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
hr{
	border-top: dotted 5px;
	width: 50%;
	color: black;
}
h1{
	font-family:fantasy;
}
.education{
	color: white;
}
.work{
	color: white;
}
.skills{
	color: white;
}
table{
	border-color: white;
	
}